;; /**********   UNDERSCORES IN NAMES PLEASE!!!!    ********/
{:enums {
         :question_origin {:description "Question edited from a previous one"
                   :values [:ORIGINAL :DERIVED]}
         :question_type {:description "Question options"
                   :values [:CLOSED :OPTIONS :OPEN :COLUMNS]}}
 :interfaces {
              :character {
                          :fields {:id         {:type String}
                                   :name       {:type String}
                                   :appears_in {:type (list :question_origin)}
                                   :friends    {:type (list :question_type)}}}}
 :objects {
           :fulltest  {
                        :description "List of Tests schema."
                        :fields {
                                 :tests {:type (list :test)}}}
           :test     {
                      :description "Tests schema."
                      :fields {
                               :uurlid       {:type (non-null ID)}
                               :title        {:type (non-null String)}
                               :user_id      {:type Int}
                               :description  {:type String}
                               :instructions {:type String}
                               :subject      {:type String}
                               :subject_id   {:type Int}
                               :level_id     {:type Int}
                               :tags         {:type String}
                               :level        {:type Int}
                               :active       {:type Boolean}
                               :shared       {:type Boolean}
                               :created_at   {:type String}
                               :questions    {:type (list :question)}
                               :subjects     {:type (list :subject)}}}
           :ided_question {
                           :description "Question with ID"
                           :fields {
                                    :id       {:type (non-null ID)}
                                    :question {:type :question}}}
           :question {
                      :description "Question schema."
                      :fields {
                               :id            {:type (non-null ID)}
                               :question      {:type (non-null String)}
                               :subject_id    {:type Int}
                               :level_id      {:type Int}
                               :qtype         {:type Int}
                               :hint          {:type String}
                               :explanation   {:type String}
                               :fulfill       {:type String}
                               :ordnen        {:type Int}
                               :points        {:type Int}
                               :user_id       {:type Int}
                               :reviewed_fact {:type Boolean}
                               :reviewed_lang {:type Boolean}
                               :created_at    {:type String}
                               :answers       {:type (list :answer)}}}
           :subject {
                      :description "Subject type."
                      :fields {
                               :id            {:type (non-null ID)}
                               :subject       {:type (non-null String)}}}
           :answer {
                      :description "Answer type."
                      :fields {
                               :id          {:type (non-null ID)}
                               :answer      {:type (non-null String)}
                               :question_id {:type (non-null Int)}
                               :ordnen      {:type Int}
                               :correct     {:type Boolean}}}}
 :queries {
           :test_by_uurlid {:type        (non-null :test)
                            :description "Access a test by its unique id, if it exists."
                            :args        {:uurlid   {:type ID}
                                          :archived {:type Boolean}}
                            :resolve     :test-by-uurlid}
           }
 :mutations {
             :create_question {:type :question
                               :description "Create new question."
                               :args {:uurlid      {:type (non-null ID)}
                                      :question    {:type (non-null String)}
                                      :hint        {:type String}
                                      :explanation {:type String}
                                      :fulfill     {:type String}
                                      :qtype       {:type (non-null Int)
                                                    :description "Type of question"}
                                      :points      {:type (non-null Int)}
                                      :user_id     {:type (non-null Int)}}
                               :resolve :create-question}
             :create_answer {:type :answer
                             :description "Create a new answer."
                             :args {:answer       {:type (non-null String)}
                                    :correct      {:type (non-null Boolean)}
                                    :question_id  {:type (non-null Int)}}
                             :resolve :create-answer}
             :update_test {:type :test
                           :description "Update test."
                           :args {
                                  :uurlid      {:type (non-null ID)}
                                  :title       {:type (non-null String)}
                                  :description {:type String}
                                  :tags        {:type String}
                                  :subject_id  {:type (non-null Int)}}
                             :resolve :update-test}
             :update_question {:type :question
                               :description "Update a question."
                               :args {
                                      :id           {:type (non-null Int)}
                                      :question     {:type (non-null String)}
                                      :uurlid       {:type (non-null String)}
                                      :explanation  {:type String}
                                      :hint         {:type String}
                                      :quest_update {:type (non-null Boolean)}
                                      :qtype        {:type (non-null Int)}
                                      :points       {:type (non-null Int)}}
                               :resolve :update-question}
             :reorder_question {:type :test
                                :description "Reorder question."
                                :args {
                                       :uurlid      {:type (non-null ID)}
                                       :ordnen      {:type (non-null Int)}
                                       :direction   {:type (non-null String)}}
                                :resolve :reorder-question}
             :reorder_answer {:type :question
                              :description "Reorder answer."
                              :args {
                                     :ordnen      {:type (non-null Int)}
                                     :question_id {:type (non-null Int)}
                                     :direction   {:type (non-null String)}}
                              :resolve :reorder-answer}
             :update_fulfill {:type :question
                               :description "Update the fulfill field."
                               :args {
                                      :id          {:type (non-null Int)}
                                      :fulfill     {:type (non-null String)}}
                             :resolve :update-fulfill}
             :update_answer {:type :answer
                             :description "Update an answer."
                             :args {:answer       {:type (non-null String)}
                                    :correct      {:type (non-null Boolean)}
                                    :id           {:type (non-null Int)}}
                             :resolve :update-answer}
             :delete_question {:type :question
                               :description "Unlink question."
                               :args {:uurlid      {:type (non-null ID)}
                                      :question_id {:type (non-null Int)}}
                               :resolve :delete-question}
             :delete_answer {:type :answer
                             :description "Remove answer."
                             :args {:answer_id    {:type (non-null Int)}
                                    :question_id  {:type (non-null Int)}}
                             :resolve :delete-answer}
             }
 }
