;; /**********   UNDERSCORES IN NAMES PLEASE!!!!    ********/
{:enums {
         :episode {:description "The episodes of the original Star Wars trilogy."
                   :values [:NEWHOPE :EMPIRE :JEDI]}
         :question_type {:description "Question options"
                   :values [:CLOSED :OPTIONS :OPEN :COLUMNS]}}
 :interfaces {
              :character {
                          :fields {:id         {:type String}
                                   :name       {:type String}
                                   :appears_in {:type (list :episode)}
                                   :friends    {:type (list :character)}}}}
 :objects {
           :fulltest  {
                        :description "List of Tests schema."
                        :fields {
                                 :tests {:type (list :test)}}}
           :test     {
                      :description "Tests schema."
                      :fields {
                               :id           {:type (non-null ID)}
                               :title        {:type (non-null String)}
                               :user_id      {:type Int}
                               :description  {:type (non-null String)}
                               :instructions {:type String}
                               :subject      {:type String}
                               :subject_id   {:type Int}
                               :tags         {:type String}
                               :level        {:type Int}
                               :active       {:type Boolean}
                               :shared       {:type Boolean}
                               :created_at   {:type String}
                               :questions    {:type (list :question)}
                               :subjects     {:type (list :subject)}}}
           :ided_question {
                           :description "Question with ID"
                           :fields {
                                    :id       {:type (non-null ID)}
                                    :question {:type :question}}}
           :question {
                      :description "Question schema."
                      :fields {
                               :id            {:type (non-null ID)}
                               :question      {:type (non-null String)}
                               :qtype         {:type Int}
                               :hint          {:type String}
                               :explanation   {:type String}
                               :ordnen        {:type Int}
                               :points        {:type Int}
                               :user_id       {:type Int}
                               :active        {:type Boolean}
                               :reviewed_fact {:type Boolean}
                               :reviewed_lang {:type Boolean}
                               :created_at    {:type String}
                               :answers       {:type (list :answer)}}}
           :subject {
                      :description "Subject type."
                      :fields {
                               :id            {:type (non-null ID)}
                               :subject       {:type (non-null String)}}}
           :answer {
                      :description "Answer type."
                      :fields {
                               :id          {:type (non-null ID)}
                               :answer      {:type (non-null String)}
                               :question_id {:type (non-null Int)}
                               :ordnen      {:type Int}
                               :correct     {:type Boolean}
                               }}}
 :queries {
           :test_by_id {:type        (non-null :test)
                        :description "Access a test by its unique id, if it exists."
                        :args        {:id       {:type ID}
                                      :archived {:type Boolean}}
                        :resolve     :test-by-id}
           :get_all_tests {:type        (non-null :fulltest)
                           :description "Access a test's questions by its unique id, if it exists."
                           :args        {:user_id {:type (non-null Int)} }
                           :resolve     :get-all-tests}}
 :mutations {
             :create_question {:type :question
                               :description "Create new question."
                               :args {:question    {:type (non-null String)}
                                      :hint        {:type String}
                                      :explanation {:type String}
                                      :qtype       {:type (non-null Int)
                                                    :description "Type of question"}
                                      :points      {:type (non-null Int)}
                                      :test_id     {:type (non-null Int)}
                                      :user_id     {:type (non-null Int)}}
                               :resolve :create-question}
             :create_answer {:type :answer
                             :description "Create new answer."
                             :args {:answer       {:type (non-null String)}
                                    :correct      {:type (non-null Boolean)}
                                    :question_id  {:type (non-null Int)}
                                    :ordnen       {:type Int}}
                             :resolve :create-answer}
             :update_answer {:type :answer
                             :description "Update an answer."
                             :args {:answer       {:type (non-null String)}
                                    :correct      {:type (non-null Boolean)}
                                    :id           {:type (non-null Int)}}
                             :resolve :update-answer}

             :update_test {:type :test
                           :description "Update test."
                           :args {
                                  :title       {:type (non-null String)}
                                  :description {:type String}
                                  :tags        {:type String}
                                  :subject_id  {:type (non-null Int)}
                                  :test_id     {:type (non-null Int)}}
                             :resolve :update-test}
             :delete_question {:type :question
                                 :description "Create new question."
                                 :args {:question_id {:type (non-null Int)}
                                        :test_id     {:type (non-null Int)}}
                                 :resolve :delete-question}
             }
 }
